@model EnvyTestApp.Models.NewMemberViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Edit Member</h2>




@using (Html.BeginForm("Create", "Members"))
{

    <hr />
        <div class="form-group">
            @Html.ValidationSummary(true, "Please fix the following errors")

            @Html.LabelFor(m => m.Member.Name)

            @Html.TextBoxFor(m => m.Member.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Member.Name)
            @Html.ValidationMessage("Name")

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Member.RankId)
            @Html.DropDownListFor(m => m.Member.RankId, new SelectList(Model.Ranks, "RankId", "RankName"), "Select Rank", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Member.RankId)
        </div>




        @*<div class="form-group">

                <select class="selectpicker show-tick" data-live-search="true" name="Ranks">
                    @foreach(var item in Model.Ranks)
                    {
                        <option  value="@item.RankId">@item.RankName</option>
                    }
                </select>

                @Html.ValidationMessage("Rank")
            </div>*@


        <div class="form-group">
            @Html.LabelFor(m => m.Member.DateJoin)

            @Html.TextBoxFor(m => m.Member.DateJoin, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Member.DateJoin)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Member.Notes)

            @Html.TextAreaFor(m => m.Member.Notes, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Member.Notes)
            @Html.ValidationMessage("Notes")
        </div>

        @Html.HiddenFor(m => m.Member.Id)
        @Html.AntiForgeryToken()
        <div class="form-group">

            <button type="submit" class="btn btn-primary">Save</button>

                    @Html.ActionLink("To delete this user click here", "Delete", "Members", new { id = Model.Member.Id, @class = "btn btn-primary" }, null)
            
            <div>
                <hr />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")   }
